body {
	background-color: lightblue;
	text-align: center;
	justify-content: center;
}

div.header {
	width:"100%";
	margin: 0 auto;
	justify-content: center;
	text-align: center;
}

div.middle {
	width:"100%";
	margin: 0 auto;
	justify-content: center;
	text-align: center;
}

div.footer {
	width:"100%";
	margin: 0 auto;
	justify-content: center;
	text-align: center;
}

div.startHidden {
	width:"100%";
	margin: 0 auto;
	justify-content: center;
	text-align: center;
	visibility: hidden;
}


h1 {
	color: black;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

tr {
	width: "100%";
	margin: 0 auto;
	text-align: center;
    justify-content: center;
}

td.topPadded {
	padding-top: 30px;	
	width: "100%";
	margin: 0 auto;
	text-align: center;
    justify-content: center;
}

.td {
	width:100%;
	margin: 0 auto;
	text-align: center;
    justify-content: center;

}

table {
	width: "100%";
	margin: 0 auto;
	text-align: center;
    justify-content: center;
}

textarea {
	width: 100%;
	margin: 0 auto;
	background: white;
	text-align: center;
	justify-content: center;
}

/* slider stuff (all nicked) */
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
